[submodule "simulator"]
	path = simulator
	url = https://github.com/alan-turing-institute/gateway-simulator-openfoam.git
[submodule "manger"]
	path = manager
	url = https://github.com/alan-turing-institute/gateway-job-manager-openfoam
