[submodule "gateway-simulator-openfoam"]
	path = gateway-simulator-openfoam
	url = https://github.com/alan-turing-institute/gateway-simulator-openfoam.git
[submodule "gateway-job-manager-openfoam"]
	path = gateway-job-manager-openfoam
	url = https://github.com/alan-turing-institute/gateway-job-manager-openfoam
