version: '3'
services:
  test:
    container_name: test
    build: .
    # command: tail -F /dev/null
    command: pytest -s tests
    depends_on:
    - simulator
    - job-manager
    networks:
    - db_nw
    environment:
    - AZURE_ACCOUNT_NAME
    - AZURE_ACCOUNT_KEY
  job-manager:  # http network hostname
    container_name: job-manager-openfoam  # ssh hostname
    build:
      context: gateway-job-manager-openfoam
      dockerfile: Dockerfile
    ports:
    - "5001:5001"
    - "10023:22"
    volumes:
    - ./gateway-job-manager-openfoam:/app
    environment:
    - FLASK_CONFIGURATION=development
    - AZURE_ACCOUNT_NAME
    - AZURE_ACCOUNT_KEY
    depends_on:
    - simulator
    networks:
    - db_nw
  simulator:
    container_name: simulator-openfoam
    build:
      context: gateway-simulator-openfoam
      dockerfile: Dockerfile

    # here we use the keys from the job-manager
    env_file:
    - ./gateway-job-manager-openfoam/keys/simulator.env

    ports:
    - "10022:22"
    privileged: true
    volumes:
    - ./gateway-simulator-openfoam:/app
    networks:
    - db_nw
networks:
  db_nw:
    driver: bridge
